name: On push to main

on:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  TEST_AUTH_TOKEN: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}

jobs:
  rustfmt:
    name: Style & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install protoc
        run: ./scripts/install_protoc_linux.sh

      - name: rustfmt
        run: cargo fmt -- --check
      - name: Rigorous lint via Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1

    steps:
      - uses: actions/checkout@v4

      - name: Install protoc
        run: ./scripts/install_protoc_linux.sh

      - name: Build
        run: cargo build --verbose

      - name: Run Integration Tests
        run: ./run_test_sequentially.sh

  # TODO: re-enable once windows publishing is fixed
  # build-windows:
  #   runs-on: windows-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Install protoc
  #       run: choco install protoc

  #     - name: Build
  #       run: cargo build --verbose

  dry-run-release:
    runs-on: ubuntu-latest
    needs: [rustfmt, build, build-windows]
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
      - name: Dry run release
        id: semrel
        uses: go-semantic-release/action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          allow-initial-development-versions: true
          force-bump-patch-version: true
          dry: true
