name: On push to release

on:
  push:
    branches: [release]
    paths-ignore:
      - "**/Cargo.toml"

env:
  CARGO_TERM_COLOR: always
  APP_NAME: 'momento-cli'
  MAINTAINER: 'momentohq'
  DESC: 'Official CLI for Momento Serverless Cache'

jobs:
  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: rustfmt
        run: cargo fmt -- --check

  prepare-release:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.release.outputs.release }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
          override: true

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Dry-run semrel release to get version number
        id: semrel_dryrun
        uses: go-semantic-release/action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          allow-initial-development-versions: true
          force-bump-patch-version: true
          # For whatever reason, this silly tool won't let you do releases from branches
          #  other than the default branch unless you pass this flag, which doesn't seem
          #  to actually have anything to do with CI:
          # https://github.com/go-semantic-release/semantic-release/blob/master/cmd/semantic-release/main.go#L173-L194
          # https://github.com/go-semantic-release/condition-github/blob/4c8af3fc516151423fff2f77eb08bf7082570676/pkg/condition/github.go#L42-L44
          custom-arguments: "--no-ci"
          dry: true

      - name: Update Cargo Version
        run: |
          chmod +x set_cargo_version.sh
          ./set_cargo_version.sh ${{ steps.semrel_dryrun.outputs.version }}
        shell: bash

      - name: Build
        run: |
          rustup target list
          cargo build --verbose

      - name: Commit Cargo version
        run: |
          git config user.email "momentobot@users.noreply.github.com"
          git config user.name "momentobot"
          git add Cargo.toml
          git commit -m "chore: bump cargo version v${{ steps.semrel_dryrun.outputs.version }}"
        shell: bash
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

  trigger-release:
    runs-on: ubuntu-latest
    needs: [prepare-release]
    steps:
      - name: Repository Dispatch to Execute Release
        uses: peter-evans/repository-dispatch@v2
        with:
          event-type: execute-release